<ion-header>
  <ion-navbar color="primary">
    <ion-title>{{ selectedEvent.title }}</ion-title>

    <ion-buttons end *ngIf="currentUser">
      <button ion-button icon-only (click)="pushToEventSettingsPage()" *ngIf="selectedEvent.ownership === currentUser.uid">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card>
    <img class="event-picture" [src]="staticMapImage">
    <ion-item>
      <ion-avatar item-left>
        <img class="event-picture" [src]="selectedEvent.picture">
      </ion-avatar>
      <h2>{{selectedEvent.location}}</h2>
      <p>{{selectedEvent.eventDate | date:'dd/MM/y'}} {{selectedEvent.eventTime}}</p>

      <button ion-button icon-left clear item-right (click)="getDirections()">
        <ion-icon name="navigate"></ion-icon>
        Direções
      </button>
    </ion-item>
  </ion-card>

  <div padding *ngIf="!selectedEvent.isRaffleFinished &amp;&amp; selectedEvent.ownership === currentUser?.uid">
    <button ion-button block secondary (click)="raffleFriends()">Realizar o Sorteio</button>
  </div>

  <ion-list>
    <ion-item-divider>
      {{selectedEvent.friends}} Participantes
      <button ion-button icon-left clear item-right (click)="openAddParticipantModal()" *ngIf="currentUser &amp;&amp; selectedEvent.ownership === currentUser.uid &amp;&amp; !selectedEvent.isRaffleFinished">
        <ion-icon name="person-add"></ion-icon>
        Adicionar
      </button>
    </ion-item-divider>

    <ion-item tappable (click)="goToProfile(attendee.$key)" *ngFor="let attendee of eventAttendees | async" [ngClass]="{'event-admin': attendee.admin}">
      <ion-avatar item-left>
        <img [src]="attendee.picture">
      </ion-avatar>
      <h2>{{attendee.name}}</h2>
      <p *ngIf="attendee.best_friend !== currentUser.$key">{{attendee.gift}}</p>
      <ion-badge color="primary" *ngIf="attendee.best_friend === currentUser.$key">Amigo Secreto</ion-badge>

      <ion-icon item-right color="secondary" name="ios-happy-outline" *ngIf="attendee.best_friend === currentUser.$key"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
