page-event-detail {
  .item-md ion-icon[item-left] + .item-inner,
  .item-md ion-icon[item-left] + .item-input {
    margin-left: 14px
  }

  .ss-card-messages {
    margin-left: 0;
    width: 100%;

    .item-block {
      ion-avatar {
        margin-top: 0;
      }
    }
  }
}
