<ion-header>
  <ion-navbar>
    <ion-title>Minhas Comemorações</ion-title>
    <ion-buttons end *ngIf="account">
      <button ion-button icon-only class="account-action" (click)="logout()">
        <img [src]="account.picture" width="35" class="avatar-circle">
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content>
  <ion-card text-center *ngIf="eventsCount === 0">
    <ion-card-header>
      <ion-icon name="star" color="primary"></ion-icon>
      <strong>Você ainda não possui um Amigo Secreto</strong>
    </ion-card-header>
    <ion-card-content>
      A diversão só começa quando você cria um <b>Amigo Secreto</b> e convida amigos e familiares para celebrar.
    </ion-card-content>
  </ion-card>

  <ion-searchbar (ionInput)="getItems($event)" *ngIf="eventsCount > 0" placeholder="Que tal uma busca rápida..."></ion-searchbar>
  <ion-list class="event-list">
    <button ion-item *ngFor="let event of eventList" (click)="goToEventPage(event)">
      <ion-thumbnail item-left>
        <img class="event-picture" [src]="event.picture">
      </ion-thumbnail>
      <h2 class="event-title">{{event.title}}</h2>
      <p class="event-location">{{event.location}}</p>
      <p class="event-date">{{event.eventDate | date:'dd/MM/y' }} {{event.eventTime}}</p>
    </button>
  </ion-list>

  <ion-fab right bottom>
    <button ion-fab (click)="pushToEventCreate()">
      <ion-icon name="add"></ion-icon>
    </button>
  </ion-fab>
</ion-content>
